.G-img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.G-j-center{
    justify-content: center;
}
.G-center{
    justify-content: center;
    align-items: center;
}
.P-Slaid{
    text-align: center;
    width: 66%;
    height: 425px;
}
.P-Slaid h1,p{
    transition: 0.3;
     color: white;
}
.P-Slaid p{
   margin: 18px auto;
    width: 500px;
    

}
.G-button{
    color: white;
    margin-top: 10px;
    width: 110px;
    height: 40px;
    font-size: 25px;
     background-color: transparent; 
    border: 1px solid;
}
.L-button:hover{
    color: black;
    background-color: white;

}
