.P-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100px;
    background-color: white;
}
.ss{
    text-align: start;
    max-width: 1000px;
    width: 100%;
    margin:0  auto;
    margin-left: 100px; 
    
}
.L-after:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 87%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
  }
  /* .L-after::before {
    content: "----";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid black;
  } */
.K-list{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: whitesmoke;
}

.S-sector{
    flex-wrap: wrap;
    width: 263px;
    height: 100px;
    /* background-color: pink; */
}
.P-Img{
    width: 100px;
    height: 100px;
}
.skal{
    width: 270px;
    height: 110px;
    background-color: #FFFFFF;
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
}
.for-info{
    justify-content: center;
    background-color: #FFFFFF;
    width: 170px;
    height: 100px;
    text-align: center;
}
.L-main{
    justify-content: center;
    background-color: #FFFFFF;
    text-align: center;
    width: 160px;
    height: 100px;

    
}
.L-main h4{
    margin-top: 25px;
}
.L-main p
{
    margin-top: 10px;
}
.S-sector:hover{
    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
    color: #fcc80e;
    background-color:#fcc80e;
}
